In [1]:
import rasterio
from rasterio.plot import show
import os.path
import numpy as np
import pandas as pd
from PIL import Image
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split

In [2]:
# function to convert txt into array of dataset --> returns array and size of data
def create_data (file, Class):
    
    arr = []
    x = -1
    for line in file:
        x = x+1
        if (x == 0):
            continue
        
        a = line.strip().split()
        for i in range(len(a)-5):
            if (i == len(a)-7):
                continue
            else:
                arr.append(a[i+4])
        arr.append(Class)
    
    return arr, x

# inp is input array and count is the count of data
inp = []
count = 0    


# Building
file = open(r'buil18.txt')
arr, x = create_data(file,1)
inp += arr
count += x

# Barren Land
file = open(r'non-buil18.txt')
arr, x = create_data(file,0)
inp += arr
count += x

print(count)
a = np.array(inp)
inp = a.reshape(count,15)
inp

769

array([['0.0538', '0.0597', '0.0733', ..., '0.54427296', '-0.23361452',
        '1'],
       ['0.0511', '0.0579', '0.0705', ..., '0.52658665', '-0.2039229',
        '1'],
       ['0.0508', '0.0591', '0.069', ..., '0.5365751', '-0.23437501',
        '1'],
       ...,
       ['0.0709', '0.0859', '0.1134', ..., '0.1792574', '0.12369172',
        '0'],
       ['0.0709', '0.0859', '0.1134', ..., '0.1792574', '0.12369172',
        '0'],
       ['0.0709', '0.0903', '0.1192', ..., '0.14745973', '0.12102515',
        '0']], dtype='<U13')

In [3]:
DF = pd.DataFrame(inp)
 
# save the dataframe as a csv file
DF.to_csv("data1.csv")
DF.columns =['B1', 'B2' ,'B3', 'B4','B5', 'B6','B7', 'B8','B8A', 'B9', 'B11', 'B12','NDVI','NDBI', 'Out']

DF.head(1000)

,B1,B2,B3,B4,B5,B6,B7,B8,B8A,B9,B11,B12,NDVI,NDBI,Out
0,0.0538,0.0597,0.0733,0.0561,0.0828,0.1486,0.175,0.1901,0.1731,0.1471,0.1181,0.0652,0.54427296,-0.23361452,1
1,0.0511,0.0579,0.0705,0.0552,0.0795,0.137,0.1653,0.178,0.1701,0.1398,0.1177,0.0672,0.52658665,-0.2039229,1
2,0.0508,0.0591,0.069,0.0548,0.0798,0.1528,0.1739,0.1817,0.1822,0.1611,0.1127,0.0597,0.5365751,-0.23437501,1
3,0.0508,0.0581,0.068,0.0525,0.0798,0.1528,0.1739,0.1619,0.1822,0.1611,0.1127,0.0597,0.5102612,-0.1791697,1
4,0.0494,0.0544,0.0642,0.053,0.0748,0.132,0.1521,0.1461,0.165,0.1597,0.1082,0.06,0.46760422,-0.14903657,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,0.0709,0.0895,0.1156,0.134,0.1494,0.1661,0.1711,0.1834,0.1839,0.1791,0.2362,0.2251,0.15563957,0.12583412,0
765,0.0709,0.091,0.1166,0.1376,0.1494,0.1661,0.1711,0.1834,0.1839,0.1791,0.2362,0.2251,0.14267913,0.12583412,0
766,0.0709,0.0859,0.1134,0.1282,0.1494,0.1661,0.1711,0.1842,0.1839,0.1791,0.2362,0.2251,0.1792574,0.12369172,0
767,0.0709,0.0859,0.1134,0.1282,0.1494,0.1661,0.1711,0.1842,0.1839,0.1791,0.2362,0.2251,0.1792574,0.12369172,0
768,0.0709,0.0903,0.1192,0.1376,0.1494,0.1661,0.1711,0.1852,0.1839,0.1791,0.2362,0.2251,0.14745973,0.12102515,0

In [4]:
X = DF.drop('Out',axis = 1)
Y = DF['Out']

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=0)
model.fit(X, Y)
pred1 = model.predict(X)
print(accuracy_score(pred1,Y))
print(confusion_matrix(Y, pred1))

In [ ]:
img2 = rasterio.open("Subset_20181231.tif")
z2 = img2.read()

z2.shape

In [ ]:
inp2 = []
for i in range(124):
    for j in range(116):
        for k in range(14):
            if (k != 13):
                inp2.append(z2[k,i,j])
        #inp.append(ndvi[i,j])

print(len(inp2))

a = np.array(inp2)
inp2 = a.reshape(124*116,14)
inp2.shape

In [ ]:
import pandas as pd
DF2 = pd.DataFrame(inp2)
 
# save the dataframe as a csv file
DF2.to_csv("data2.csv")
DF2.columns =['B1', 'B2' ,'B3', 'B4','B5', 'B6','B7', 'B8','B8A', 'B9', 'B11', 'B12','NDVI','NDBI']

DF2.head(15)

In [ ]:
pred_22 = model.predict(DF2)
pred_22

In [ ]:
a = np.array(pred_22)
pred_22 = a.reshape(124,116)

img = np.array(pred_22, dtype=np.uint8)
type(img[0,0])
img = img*255

print(img[0,40],pred_22[0,40])
#print(img[25,0],pred_22[150,0])
#print(img[0,6],pred_22[0,6])

img3 = Image.fromarray(img)
img3.save('rf18_14band.tif')
show(img3)